@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Oswald:wght@200;300;400;500;600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import "variables";
@import "mixins";
@import "variables";

// Universal Styles
* {
  box-sizing: border-box;
  font-size: 16px;
}
html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
  font-family: "Barlow", monospace, sans-serif;
  background-color: $portfolioBlack;
  color: $portfolioWhite;
  line-height: 1;
}
a {
  text-decoration: none;
  color: $portfolioPink;
}

// These rules will grant scrollbars to the main content and change their color/style/etc.
::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
}
::-webkit-scrollbar-corner {
  background: $portfolioBlack;
}
::-webkit-scrollbar-thumb {
  background-color: $portfolioPink;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: $portfolioGrey;
}

// These rules will change the color of the autocomplete fields
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px white inset !important;
}