// SCSS Variables
$mainFont: 'Barlow', sans-serif;
$secondaryFont: 'Oswald', sans-serif;
$portfolioPink: #E11470;
$portfolioWhite: #F7F7F3;
$portfolioGrey: #211F1C;
$portfolioSmoke: #131112;
$portfolioBlack: #0B0909;
$portfolioOffWhite: rgba(247, 247, 243, 0.5);
$portfolioBorder: rgba(247, 247, 243, 0.25);